@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b505c5; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9809a5af; 
}

/* Loader */

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}

.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fd1af2a4;
  border-color: #fd1af2a4 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* home */
body{
  background-image: url('./Images/background_01.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.homeHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.homeHeader h1 {
  font-size: 70px;
  color:#fff;
}
.banner{
  padding: 70px 0px;
  display: flex;
  align-items: center;
  width: 100%;
}
.bg_transparent{
  background-color: transparent!important;
}
.poster_img{
  width: 400px;
  border-radius: 8px;
  height: 550px;
}
.register_btn{
  background-color: transparent;
  padding: 10px 60px;
  border: 2px solid #fff;
  border-radius: 6px;
  font-size: 29px;
  color:#fff;
  margin-top: 50px;
  backdrop-filter: blur(5px); 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.329);
  transition: 0.5s;
}
.register_btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: #fff;
}
h2{
  color:#fff;
}
.moreIcon{
  color:#fff;
  font-size: 35px;
  margin-left: 15px;
}

.bannersEffect {
  box-shadow: 0px 10px 30px #1587C317;
  width: 400px;
  position: relative;
  cursor: pointer;
}
.img_overlay p {
  line-height: 20px;
  margin-top: 10px;
  letter-spacing: 0.4px;
  font-size: 18px;
}
.img_overlay {
  background: transparent linear-gradient(180deg, #090a0ae8 0%, #811297d9 100%) 0% 0% no-repeat padding-box;
  position: absolute;
  top: -100%;
  left: 0;
  border-radius: 8px;
  padding: 30px 22px;
  color: #fff;
  height: 100%;
  width: 100%;
  transition: all ease 0.7s;
}

.bannersEffect:hover .img_overlay {
  top: 0;
}
.eventName{
  font-size: 25px;
}
.userName{
  text-transform: uppercase;
}


.registerBtn{
  background-color: transparent;
  padding: 5px 20px;
  border: 2px solid #fff;
  border-radius: 6px;
  font-size: 17px;
  color:#fff;
  margin-top: 30px;
  backdrop-filter: blur(5px); 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.329);
  transition: 0.5s;
}

.registerBtn:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: #fff;
}
.sliderEffect{
  width: 100%;
}
.bannerGap {
  overflow-x: scroll;
  gap:30px
}

.bannerGap::-webkit-scrollbar {
  display: none;
}
.footer {
  background-color: #3d3953;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-size: 25px;
}


/* Login */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 91vh;
}

.loginBox{
  background-color: transparent;
  backdrop-filter: blur(5px); 
  color:#fff;
  border: 4px solid #ffffffde;
  border-radius: 8px;
  padding: 40px 60px;
}

.login_input{
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffffde;
  color:#fff;
  font-weight: 400;
  letter-spacing: 3px;
  width: 300px;
}

.textInput{
  margin-top: 30px;
  font-size: 20px;
}

.login_btn{
  background-color: transparent;
  padding: 5px;
  width: 160px;
  border: 2px solid #fff;
  border-radius: 6px;
  font-size: 20px;
  color:#fff;
  letter-spacing: 3px;
  margin-top: 30px;
  backdrop-filter: blur(5px); 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.329);
  transition: 0.5s;
}
.login_btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: #fff;
}

.channels {
  margin: 50px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.438);
  height: 820px;
  padding: 30px;
}



/* Table */

th {
  padding: 10px 0px;
  font-size: 20px;
  color:#fff;
  font-weight: 500!important;
}

td {
  border-bottom: 1px solid #ffffff4b;
  border-top: 1px solid #ffffff4b;
  padding: 10px 0px;
  font-size: 20px;
  vertical-align: text-top;
  color:#d4d4d4;
}
.eventBox{
  margin-top: 15px;
  padding: 20px 40px;
  background-color: rgba(47, 191, 248, 0.205);
  border-radius:8px;
}


.view_btn{
  background-color: #fff;
  border-radius: 4px;
  color:#000;
  text-align: center;
  transition: 0.3s;
  cursor: pointer
}
.view_btn:hover{
  transition: 0.3s;
  color:#fff;
  box-shadow:inset 0px 0px 0px 1px rgb(255, 255, 255);
  box-sizing: border-box;
  background-color: #000;
}






/* Events */
.bannerEvent {
  width: 100%;
  height: 100%;
  background-color: rgba(47, 191, 248, 0.205);
  padding: 50px;
  border-radius: 12px;
  cursor: pointer;
}

.eventText {
  color: #fff;
  font-size: 23px;
  letter-spacing: 2px;
}

.event_input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffffde;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-top: 0px;
  width: 100%;
}

.eventRegister{
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 6px;
  font-size: 20px;
  color:#fff;
  margin-top: 10px;
  backdrop-filter: blur(5px); 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.329);
  transition: 0.5s;
}

.organiserAdd:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: #fff;
}

.organiserAdd{
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 6px;
  font-size: 17px;
  color:#fff;
  margin-top: 10px;
  backdrop-filter: blur(5px); 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.329);
  transition: 0.5s;
}

.eventRegister:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: #fff;
}

.popUp{
  background-color: #fff;
  width: 500px;
  height: 300px;
  border-radius: 12px;
}

.popUpBg{
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100%;
  background-color: #0f0f0faf;
}

.addOrganiserPopUp{
  padding: 40px;
  height: auto;
  width: 700px;
  background-color: #ffffff;
  border-radius: 14px;
}

.organiserInput{
  outline: none;
  border: none;
  border-bottom: 1px solid #333333;
  font-size: 20px;
  color:#000;
  padding: 3px 0px;
  width:280px;
  margin-top: 20px;
}

/* Registeration */
.registeration{
  width: 700px;
  padding: 30px;
  border-radius: 14px;
  margin-top: 100px;
  background-color: #0000005d;
}
.registerInput {
  font-size: 17px;
  border: none;
  border-bottom: 1px solid #c7c7c7b6;
  background-color: transparent;
  width: 100%;
  color:#fff;
  margin-top: 20px;
}
.registerInput:focus {
  outline:none;
}
.registerInput::placeholder {
  color:#fff
}
.option_val{
  background-color: #fff;
  color:#000;
}
.toggle{
font-size: 35px;
color: rgb(255, 255, 255);
}
.yourselfFont {
  font-size: 40px;
  color:#fff;
  text-align: center;
  letter-spacing: 3px;
}

.fontAmity{
  font-size: 25px;
}